.-header {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: auto;
}

.-header > .-top {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.-phoneNumber {
    margin-left: 10px;
    height: 20px;
    align-self: flex-end;
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: 800;
    color: white;
}

.-mainLogo {
    display: flex;
    justify-content: center;
}

.-itemContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: #005532;
}

.-itemContainer > .-item {
    padding: 10px 30px;
    margin: auto;
    border-radius: 10px;
}

.-item > a {
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    color: white;
}
