.App {
  background: url(/leather.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: myFirstFont;
    src: url(/trench100free.otf);
}

div {
  font-family: myFirstFont
}
