.-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 15px;
}

.-pictureArea {
    display: flex;
    flex-direction: column;
}

.-pictureArea > .-top {
    text-align: center;
    background: lightblue;
    margin: auto;
    padding: 5px 25px;
    border-radius: 4px;
}

.-pictureArea > .-bottom {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.-title {
    font-size: 24px;
    font-weight: 800;
}

.-description {
    font-size: 20px;
}