.-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 15px;
}

.-pictureArea {
    display: flex;
    flex-direction: column;
}

.-pictureArea > .-top {
    text-align: center;
    background: lightblue;
    margin: auto;
    padding: 5px 25px;
    border-radius: 4px;
    max-width: 270px;
}

.-pictureArea > .-bottom {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.-title {
    font-size: 24px;
    font-weight: 800;
}

.-description {
    font-size: 20px;
}

.-fullScreenView {
    background:rgba(255,255,255,0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.-fullScreenContainer {
    max-height: 650px;
    max-width: 800px;
    margin: auto;
    margin-top: 5vh;
    display: flex;
} 

.-fullScreenContainer > .-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.-fullScreenContainer > .-left {
    display: flex;
    flex-direction: column;
}

.-fullScreenContainer > .-left >.-thumbnailContainer {
    width: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.-thumbnailPictureContainer {
    margin: 5px;
    border: solid 1px #ccc;
}

.-fullScreenThumbnail {
    max-width: 100%;
    display: block;
    margin-bottom: auto;
}

.-pictureArea > .-bottom {
    width: 400px;
    height: 400px;
}

.-picture {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 10px;
  background-color: white;
}

.-pictureThumbnailImage {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 1px #ccc;
}

.-picture img:hover {
    border: solid 1px #777;
}

.-closeFullScreenPic {
    max-width: 30px;
    align-self: flex-start;
}
